
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 1px solid rgba(197, 162, 115, 0);
    background: rgba(14, 70, 22, 0.63);
    // -webkit-perspective: 1000px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  


.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {

  padding: 10px;
  flex: 50%;
}
  }
 
  nav a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    float: left;
  }
  nav a:hover:not(.active) {
    background-color:  rgba(6, 63, 36, 0.562);
  }
  link{
    text-align: center;
  }
  @media screen and (max-width: 900px) {
    ul.sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
  @media screen and (max-width: 400px) {
    ul.sidenav li a {
      text-align: center;
      float: none;
    }
  
  }}